---
layout: default
---

<p>Here are some tabs to navigate:</p>

<section class="example">
    <section class="hashTabber hashTabber-sandstone" id="dinosaurs" data-defaultTab="3">
        <ol class="hashTabber-nav">
            <h2>Species:</h2>
            {% for dinosaur in site.data.dinosaurs %}
                <li>
                    <a>{{ dinosaur.name }}</a>
                </li>
            {% endfor %}
        </ol><!--
     --><ol class="hashTabber-data">
            {% for dinosaur in site.data.dinosaurs %}
                <li>
                    <h3>{{ dinosaur.name}}</h3>
                    <p>{{ dinosaur.description }}</p>
                    <p><a href="{{ dinosaur.url }}" target="_blank">Read more about {{ dinosaur.name }}</a></p>
                </li>
            {% endfor %}
        </ol>
    </section>
</section>

<p>Here are some more tabs to navigate:</p>

<section class="example">
    <section class="hashTabber" id="philosophers">
        <ol class="hashTabber-nav">
            {% for philosopher in site.data.philosophers %}
                <li>
                    <a>{{ philosopher.name }}</a>
                </li>
            {% endfor %}
        </ol><!--
     --><ol class="hashTabber-data">
            {% for philosopher in site.data.philosophers %}
                <li>
                    <p>{{ philosopher.description }}</p>
                </li>
            {% endfor %}
        </ol>
    </section>
</section>

<pre><code lang="html">{% include hashTabber-html-example.liquid %}</code></pre>