---
layout: default
---

<p>Here are some tabs to navigate:</p>

<section class="hashTabber hashTabber-sandstone" id="dinosaurs" data-defaultTab="3">
    <ol class="hashTabber-nav">
        {% for dinosaur in site.data.dinosaurs %}
            <li>
                <a>{{ dinosaur.name }}</a>
            </li>
        {% endfor %}
    </ol><!--
 --><ol class="hashTabber-data">
        {% for dinosaur in site.data.dinosaurs %}
            <li>
                <p>{{ dinosaur.description }}</p>
                <a href="{{ dinosaur.url }}" target="_blank">Read more about {{ dinosaur.name }}</a>
            </li>
        {% endfor %}
    </ol>
</section>

<p>Here are some more tabs to navigate:</p>

<section class="hashTabber" id="philosophers">
    <ol class="hashTabber-nav">
        <h2>Philosophers:</h2>
        {% for philosopher in site.data.philosophers %}
            <li>
                <a>{{ philosopher.name }}</a>
            </li>
        {% endfor %}
    </ol><!--
 --><ol class="hashTabber-data">
        {% for philosopher in site.data.philosophers %}
            <li>
                <p>{{ philosopher.description }}</p>
                <a href="{{ philosopher.url }}" target="_blank">Read more about {{ philosopher.name }}</a>
            </li>
        {% endfor %}
    </ol>
</section>

<pre>
    <code lang="html">
        &lt;section class="hashTabber hashTabber-theme" id="distinct-name" data-defaultTab="INDEX"&gt;
            &lt;ol class="hashTabber-nav"&gt;
                &lt;h2&gt;Optional non-li title&lt;/h2&gt;
                &lt;li&gt;First item&lt;/li&gt;
                &lt;li&gt;Second item&lt;/li&gt;
                &lt;li&gt;Third item&lt;/li&gt;
            &lt;/ol&gt;
            &lt;ol class="hashTabber-data"&gt;
                &lt;li&gt;This is the first item content.&lt;/li&gt;
                &lt;li&gt;This is the second item content.&lt;/li&gt;
                &lt;li&gt;This is the third item content.&lt;/li&gt;
            &lt;/ol&gt;
        &lt;/section&gt;
    </code>
</pre>