    <!-- js libraries -->
    <script src="{{ site.url }}/assets/js/libs/hashTabber.js"></script>
    
    <!-- custom script -->
    <script src="{{ site.url }}/assets/js/script.js"></script>

</body>

</html>