<header class="page-header">
    <h1 class="page-title">hashTabber.js</h1>
    <nav class="page-main-navigation" id="menu">
        <a href="#menu" class="open"><i class="fa fa-bars fa-fw"></i></a>
        <a href="#close" class="close"><i class="fa fa-times fa-fw"></i></a>
        <ol class="page-main-navigation-list">
            <li><a href="#menu-overview">Overview</a></li>
            <li><a href="#menu-getting-started">Getting started</a></li>
            <li><a href="#menu-options">Options</a></li>
            <li><a href="#menu-themes">Themes</a></li>
            <li><a href="#menu-examples">Examples</a></li>
            <li><a href="#menu-license">License</a></li>
        </ol>
    </nav>
</header>
