<header class="page-header">
    <nav class="page-main-navigation">
        <ul class="page-main-navigation-list">
            <li><a href="{{ site.url }}"><i class="fa fa-globe fa-fw"></i> Home</a></li>
            <li><a href="#intro"><i class="fa fa-flag fa-fw"></i> Intro</a></li>
            <li><a href="#code"><i class="fa fa-flag fa-fw"></i> Code</a></li>
            <li><a href="#example"><i class="fa fa-flag fa-fw"></i> Example</a></li>
        </ul>
    </nav>
    <h1>HashTabber</h1>
</header>