<header class="page-header">
    <nav class="page-main-navigation">
        <ul class="page-main-navigation-list">
            <li><a href="{{ site.url }}"><i class="fa fa-globe fa-fw"></i> Home</a></li>
            <li><a href="#trilobite"><i class="fa fa-flag fa-fw"></i> Trilobite</a></li>
            <li><a href="#velociraptor"><i class="fa fa-flag fa-fw"></i> Velociraptor</a></li>
            <li><a href="#pterodactylus"><i class="fa fa-flag fa-fw"></i> Pterodactylus</a></li>
        </ul>
    </nav>
</header>