// --------------------------------------------------
// modular scale
// 4, 5, 8, 10, 16, 20, 32, 40, 64, 80, 128, 160, 256, 320, 512, 640, 1024, 1280, 2048, 2560
// --------------------------------------------------

$scaleMain: 16;
$scaleSecondary: 20;
$scaleFraction: 1/2;
$scaleFractionInverse: 1/$scaleFraction;


// --------------------------------------------------
// fonts
// --------------------------------------------------

$source: "Source Sans Pro", sans-serif;
$code: "Source Code Pro", monospace;

$baseFontWeight: 400;
$baseFontSize: 20px;
$baseLineHeight: 1.5;
$baseFontFamily: $source;

$fontSizeBig: 24px;
$fontSizeSmall: 16px;


// --------------------------------------------------
// colors
// --------------------------------------------------

$black: rgb(0,0,0);
$white: rgb(255,255,255);

$crimson: rgb(240,20,60);
$crimsonDark: shade($crimson, 15);
$crimsonLight: tint($crimson, 30);

$sandstone: rgb(125,110,100);
$sandstoneDark: shade($sandstone, 45);
$sandstoneDarker: shade($sandstone, 90);
$sandstoneLight: tint($sandstone, 60);
$sandstoneLighter: tint($sandstone, 90);


// --------------------------------------------------
// breakpoints and content widths settings
// --------------------------------------------------

$breakBig: 1280px;
$breakSmall: 640px;


// --------------------------------------------------
// speed
// --------------------------------------------------

$fast: 0.3s;
$slow: 1s;