.hashTabber.hashTabber-sandstone {
    @include column();
    background-color: $sandstoneLighter;
    padding: 0.5rem;
}

.hashTabber-sandstone ol.hashTabber-nav, .hashTabber-sandstone ol.hashTabber-data {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hashTabber-sandstone ol.hashTabber-nav {
    @include column(1,6);
    > h2 {
        font-size: 0.75rem;
        text-transform: uppercase;
        padding: 1.25rem 0.5rem 0.25rem 0.5rem;
        color: $sandstoneDark;
    }
    > li {
        @include column();
        &:not(:first-child) {
            margin-top: 0.125rem;
        }
        &.active {
            a {
                background-color: $white;
                color: $sandstoneDarker;
                border-color: $sandstoneLight;
                &:hover {
                    background-color: $white;
                    border-color: $sandstoneLight;
                    color: $sandstoneDark;
                }
            }
        }
        > a {
            display: block;
            @include border-radius(0.25rem 0 0 0.25rem);
            padding: 0.25rem 0.5rem;
            text-decoration: none;
            color: $white;
            background-color: $sandstone;
            border-bottom: 0.0625rem solid $sandstoneDark;
            &:hover {
                background-color: $sandstoneDark;
                border-color: $sandstoneDarker;
            }
        }
    }
}

.hashTabber-sandstone ol.hashTabber-data {
    @include column(5,6);
    @include border-radius(0.25rem);
    background-color: $white;
    padding: 1rem 1.5rem 1.5rem 1rem;
    border-bottom: 0.0625rem solid $sandstoneLight;
    min-height: rem(400px);
    > li {
        @include opacity(0);
        visibility: hidden;
        height: 0;
        overflow: hidden;
        h3 {
            padding-bottom: 0.25rem;
            border-bottom: 0.0625rem solid $sandstoneLighter;
        }
        &.active {
            @include opacity(1);
            visibility: visible;
            height: auto;
        }
    }
}