.hashTabber.hashTabber-sandstone {
    @include column();
    @include border-radius(0.5rem);
    padding: 1rem;
    background-color: $sandstoneLighter;
}

.hashTabber-sandstone ol.hashTabber-nav, .hashTabber-sandstone ol.hashTabber-data {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hashTabber-sandstone ol.hashTabber-nav {
    @include column(1,4);
    padding-right: 1rem;
    > li {
        @include column();
        padding-left: 1rem;
        margin-bottom: 0.5rem;
        &.active {
            padding-left: 0;
        }
        > a {
            display: block;
            @include border-radius(0.25rem);
            padding: 0.5rem;
            text-decoration: none;
            color: $white;
            background-color: $sandstone;
            &:hover {
                background-color: $sandstoneDark;
            }
        }
    }
}

.hashTabber-sandstone ol.hashTabber-data {
    @include column(3,4);
    > li {
        @include opacity(0);
        visibility: hidden;
        height: 0;
        overflow: hidden;
        &.active {
            @include opacity(1);
            visibility: visible;
            height: auto;
        }
    }
}