header.page-header {
    max-width: rem(960px);
    margin: auto;
}

h1.page-title {
    font-size: 4.5rem;
    font-weight: 700;
    padding: 3rem 0 4.5rem;
    letter-spacing: -0.125rem;
    color: $crimson;
    @include text-shadow($crimsonDark 0 0.125rem 0);
    @media screen and (max-width: #{$breakSmall}) {
        font-size: 3rem;
        @include text-shadow($crimsonDark 0 0.0625rem 0);
    }
}

nav.page-main-navigation {
    @include fixed(top 0 right 0);
    z-index: 2;
    font-size: 1rem;
    @include single-transition(right, $fast);
    &:target {
        right: 10rem;
        a.open {
            display: none;
        }
        a.close {
            display: block;
        }
    }
    ol {
        height: auto;
        margin: 0;
        @include absolute(top 0 left 0);
        li {
            display: block;
            a {
                width: 10rem;
            }
            &:last-child a {
                border-bottom: 0.125rem solid $crimsonDark;
                @include border-radius(0 0 0 0.25rem);
            }
        }
    }
    a {
        color: $white;
        background-color: $crimson;
        line-height: 2rem;
        padding: 0 0.5rem;
        display: block;
        text-decoration: none;
        text-align: left;
        &:hover {
            background-color: $crimsonLight;
        }
    }
    a.close, a.open {
        @include absolute(top 0 right 0);
        border-bottom: 0.125rem solid $crimsonDark;
        @include border-radius(0 0 0 0.25rem);
    }
    a.close {
        display: none;
    }
}