// --------------------------------------------------
// hashTabber basic styles
// Basically it is better to create kinda-theme class
// insted of changing this document
// --------------------------------------------------

ol.hashTabber-nav, ol.hashTabber-data {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol.hashTabber-data {
    > li {
        @include opacity(0);
        visibility: hidden;
        height: 0;
        overflow: hidden;
        &.active {
            @include opacity(1);
            visibility: visible;
            height: auto;
        }
    }
}