// --------------------------------------------------
// hashTabber basic styles
// Basically it is better to create kinda-theme class
// insted of changing this document
// --------------------------------------------------

ol.hashTabber-nav, ol.hashTabber-data {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol.hashTabber-data {
    > li {
        display: none;
        &.active {
            display: block;
        }
    }
}