// those are really, really important
// for hashTabber to work

.hashTabber {
    
}

ol.hashTabber-navigation, ol.hashTabber-data {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol.hashTabber-navigation {
    > li {
        cursor: pointer;
        &.active, &:hover {
            
        }
    }
}

ol.hashTabber-data {
    > li {
        @include opacity(0);
        visibility: hidden;
        height: 0;
        overflow: hidden;
        &.active {
            @include opacity(1);
            visibility: visible;
            height: auto;
        }
    }
}