<ol class="hashTabber-nav" data-hashtabber-id="philosophers">
    {% for philosopher in site.data.philosophers %}
        <li>
            <a>{{ philosopher.name }}</a>
        </li>
    {% endfor %}
</ol><!--
--><ol class="hashTabber-data" data-hashtabber-id="philosophers">
    {% for philosopher in site.data.philosophers %}
        <li>
            <p>{{ philosopher.description }}</p>
        </li>
    {% endfor %}
</ol>