{% include html-begin.liquid %}
{% include page-header.liquid %}

    <section class="page-content" role="main">
        
        {{ content }}

    </section>

{% include page-footer.liquid %}
{% include html-end.liquid %}